<AuthorizeView>
    <Authorized>
        <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link text-white" href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
        <form class="form-inline" method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link text-white border-0" >Log out</button>
        </form>
        </li>
        </ul>
    </Authorized>
    <NotAuthorized>
        <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link text-white" href="Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-white" href="Identity/Account/Login">Log in</a>
        </li>
        </ul>
    </NotAuthorized>
</AuthorizeView>
