@inherits LayoutComponentBase

<PageTitle>back-end</PageTitle>


    <header>
   <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 fixed-top">
    <div>
        <NavMenu />
    </div>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <LoginDisplay />
    </div>
</div>

    </header>
<div class="page">
    <main class="main-content">
        <div class="container">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
