@inherits LayoutComponentBase

<PageTitle>back-end</PageTitle>


    <header>
   <div class="top-row px-4 auth d-flex justify-content-between" style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
    <div>
        <NavMenu />
    </div>
    <div>
        <LoginDisplay />
    </div>
</div>

    </header>
<div class="page">
    <main class="main-content">
        <div class="container">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>
