<nav class="navbar navbar-expand-md navbar-dark flex-column flex-md-row">
    <div class="container">
        <a class="navbar-brand" href="/">도서 대여 서비스</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/books">도서 목록</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rentals">대여 내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">계정</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
